@import "{francocatena:compass}/compass";


$gray: #424242;
$blue: #03A9F4;
$green: #00a14b;
//$red: #ff2100;
$red: #e53935;
$orange: #F57C00;
$yellow: #FBC02D;
$purple: #4A148C;




@import "sass/style";
@import "sass/animate";
